.data-table-header > tr > .data-table-sorter {
    cursor: pointer;
}

.data-table-header > tr > .data-table-sorter.none::after {
    content: url('../../../assets/icons/8665859_sort_filter_icon.svg');
    position: absolute;
    }

.data-table-header > tr > .data-table-sorter.asc::after {
    content: url('../../../assets/icons/8665974_sort_up_icon.svg');
    position: absolute;
    
}

.data-table-header > tr > .data-table-sorter.dsc::after {
    content: url('../../../assets/icons/8665844_sort_down_icon.svg');
    position: absolute;
}

.data-table-paginate > .active {
    background-color: #93ad18;
    color: white;
}

.no-data-available {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 20px;
    color: #93ad18;
}

.data-table-container {
    display:flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    .data-table-search-bar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .data-table-length {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 150px;
        }
        .data-table-filter {
            display: flex;
            align-items: center;
        }
    }
    .data-table-paginate {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        & > button {
            margin: 0 5px;
            cursor: pointer;
        }
    }
    .data-table-wrapper {
        border: #93ad18 1px solid;
        .data-table-header {
            .data-table-sorter {
                min-width: 130px;
            }
        }
    }
    .data-table-header {
        background-color: #93ad18;
        color: white;
    }
    .data-table-body > tr:nth-child(even) {
        background-color: #f2f2f2; // Couleur plus claire pour les lignes paires
    }

    .data-table-body > tr:nth-child(odd) {
        background-color: #e6e6e6; // Couleur plus sombre pour les lignes impaires
    }
    .data-table-body td {
        text-align: center; // Centrer le texte horizontalement dans les cellules
        vertical-align: middle; // Centrer le texte verticalement dans les cellules
    }
}