.home-icon {
    width: 80px;
}

.header {
    margin-inline: 50px;
    margin-block: 30px;
    &-hr {
        height: 1px;
        border: 1px solid #93ad18;
        margin-block: 10px;
    }
    .nav {
       
        display: flex;
        justify-content: space-between;
        align-items: center;
        .page-title {
            color: #5a6f08;
            position: relative;
            right: -25px;
            
        }
        .active {
            cursor: default;
        }
        .side-links {
            display: flex;
            flex-direction: column;
            a {
                color: black;
                text-decoration: none;
            }
            .active {
                color: #93ad18;
            }

        }
    }
}